

body {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.flex-container{
  display: flex;
  flex-direction: row;
  height: 250px;
}
.flex-containerA{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.flex-containerB{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: slateblue;
  padding: 10px;
}
.flex-containerC{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

input{ 
  width: 40px;
}